<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Mood</title>
</head>
<body>
    <form action="#" th:action="@{/mood-create}" th:object="${mood}" method="post">
        <label for="name">Id</label>
        <input type="text" th:field="*{id}" id="id" placeholder="Id">
        <label for="name">Название</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Name">
        <input type="submit" value="Create Mood">
    </form>
</body>
</html>